body {
  font-family: Helvetica;
  /*background-color: #f4f5f7;*/
/*   background-image: linear-gradient(#fffcdc, hsl(322, 49%, 71%)); */
  background-image: url("Images/britomart.JPG");
  background-repeat: no-repeat;
  background-size: fill;
  background-attachment:fixed;
  background-position: center ;
  line-height: 1.4;
}

article {
  float: center;
  padding: 2.5vw;
  padding-bottom: 1.5vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  min-width: 50%;
  max-width: 97vw;
  max-width: 1000px;
  width: 75%;
  background-color: #fefefe;
  color: #222222;
  box-shadow: 3px 3px 10px rgb(25, 25, 25);
}

article.header {
  margin-top: 0px;
}

address {
  font-style: italic;
  font-size: 11;
  font-family: Palatino, 'Times New Roman', Times, serif;

}

div.portfolioItem {
  padding: 5px;
}

div.titleRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 90%;
}

div.photoContainer {
  text-align: center;
}

figure {
  display: inline-block;
  text-align: initial;
  vertical-align: top;
  position: relative;
  max-width: 600px;
}

figure.horizontal {
  max-width: 900px;
}

figcaption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  font-weight: bold;
  font-size: 11pt;
  margin: 3px;
}

figcaption.subtitle {
  font-family: "Calibri Light", "Helvetica";
  font-style:italic;
  color: #6d6d6d;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 85vh;
}

div.grade, div.noGrade {
  height: 3.8vh;
  max-height: 30px;
  border-radius: 5px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  display:grid;
  align-items: center;
}

div.grade {
  background-color: #00cc66;
  color: #fefefe;
}

div.noGrade {
  background-color: #6d6d6d;
  color: #fefefe;
}

div.github {
  background-color: #6e5494;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  max-width: 10vw;
  max-height: 30px;
  height: min-content;
  justify-content: center;
}

/* Item styles */

h1 {
  font-size: 42pt;
  text-align: center;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: 'Brush Script MT', 'Georgia', 'Serif';
  margin: 3px;

}

h2 {
  font-size: 24pt;
  margin-top: 8pt;
  margin-bottom: 10pt;
  text-align: center;
}

h3 {
  margin-top: 15pt;
  margin-bottom: 6pt;
  font-size: 18pt;
  text-align: center;
}

h4 {
  font-size: 16pt;
  margin-bottom: 3px;
}

h5 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10pt;
  margin-top: 0px;
}

p {
  font-size: 11pt;
  text-align:justify;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100ch;
}

p.center {
    text-align: center;
}

p.extra_small {
    font-size: 11pt;
    text-align: left;
}

p.reference {
  font-size: 11pt;
  text-align: left;
}

p.introduction {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-style: italic; 
  text-align: center; 
  font-size: 12pt; 
  padding-top: 20px;
  line-height: 1.7;
  max-width: none;
}

hr {
  height: 1px;
  border-width: 0;
  color: grey;
  background-color: grey;
}

ul.menu {
  margin: 6px;
}

li {
  margin-bottom: 10px;
}

li.horizontal{
  display: inline;
  margin: 5px;
  font-family: Helvetica;
}

a.menu {
  color:inherit;
  text-decoration: none;
  margin-right: 5px;
}

a.menu:hover {
  text-shadow:0px 0px 1px black;
}

.imgRow {
  display: flex;
  align-content: space-around;
  align-items:center;
}

img {
  border-radius: 3px;
}

img.column {
  flex: 35%;
  padding-right: 5px;
}

img.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  min-width: 70%;
  max-width: 95%;
}